.btn-inverted {
    bottom: 50%;
    right: -5%;
    position: fixed;
    transform: rotate(90deg);
}

.btn-material {
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    padding: 15px 45px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    /*delete*/
    letter-spacing: 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    outline: none;
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
}

.btn-material::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #428bca;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
}

.btn-material:focus, .button:hover {
    text-decoration: none;
    color: #fff;
}

.btn-material:hover {
    background-color: #428bca;
}

.btn-material:hover::after {
    opacity: .22;
}

.btn-material:active {
    background-color: #428bca;
}

.btn-material:active::after {
    opacity: .32;
}