<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
                (click)="close()">
                    <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Delete calendar {{Name}}</h4>

            <app-alert-array [alertType]="'danger'" [errors]="errors"></app-alert-array>
        </div>

        <div class="modal-body">
            <p>Do you really want to delete this calendar?</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="deleteCalendar()">Delete</button>
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
        </div>
    </div>
</div>