<div>
    <app-left-calendar-menu (onCalendarsChanged)="setCalendars($event)"></app-left-calendar-menu>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 *ngIf="model.viewMode != 'week'" class="page-header">{{ model.viewDate | calendarDate:(model.viewMode + 'ViewTitle') : model.locale }}</h1>
        <h1 *ngIf="model.viewMode == 'week'" class="page-header">{{model.weekPeriod}}</h1>

        <div class="row">
            <app-calendar-view-switcher [viewMode]="model.viewMode" (onViewModeChanged)="changeViewMode($event)"></app-calendar-view-switcher>

            <div class="btn-group">
                <button id="calendar-previous-btn" type="button" class="btn btn-primary" 
                    tooltip="ALT + P" placement="top" container="body"
                    mwlCalendarPreviousView [view]="model.viewMode" [(viewDate)]="model.viewDate" 
                    (viewDateChange)="viewDateChanged($event)">Previous</button>

                <button id="calendar-today-btn" type="button" class="btn btn-primary" 
                    tooltip="ALT + T" placement="top" container="body"
                    mwlCalendarToday [(viewDate)]="model.viewDate" 
                    (viewDateChange)="viewDateChanged($event)">Today</button>

                <button id="calendar-next-btn" type="button" class="btn btn-primary" 
                    tooltip="ALT + N" placement="top" container="body"
                    mwlCalendarNextView [view]="model.viewMode" [(viewDate)]="model.viewDate" 
                    (viewDateChange)="viewDateChanged($event)">Next</button>
            </div>
        </div>

        <hr />

        <div [ngSwitch]="model.viewMode" class="row">
            <mwl-calendar-day-view *ngSwitchCase="'day'" 
                [locale]="model.locale" [refresh]="model.refresh" [events]="model.calendarEvents" [viewDate]="model.viewDate"
                (eventClicked)="openEventShareModal($event.event)"></mwl-calendar-day-view>

            <mwl-calendar-week-view *ngSwitchCase="'week'"
                [locale]="model.locale" [refresh]="model.refresh" [weekStartsOn]="model.weekStartsOn" [events]="model.calendarEvents"
                [viewDate]="model.viewDate" (eventClicked)="openEventShareModal($event.event)"></mwl-calendar-week-view>

            <mwl-calendar-month-view *ngSwitchCase="'month'"
                [locale]="model.locale" [refresh]="model.refresh" [activeDayIsOpen]="model.activeDayIsOpen"
                [weekStartsOn]="model.weekStartsOn" [events]="model.calendarEvents" [viewDate]="model.viewDate" (eventClicked)="openEventShareModal($event.event)"
                (dayClicked)="dayClicked($event.day)"></mwl-calendar-month-view>
        </div>

        <app-add-event-button
            *ngIf="!isSidebarOpened"
            (onCreateEventClicked)="openCreateEventModal()"></app-add-event-button>  

        <app-invitations-incoming-button
            *ngIf="!isSidebarOpened"
            (onInvitationsOpenClicked)="changeSidebarOpened()"></app-invitations-incoming-button>
    </div>

    <app-invitations-incoming 
        [isSidebarOpened]="isSidebarOpened"
        (onInvitationAccepted)="addInvitationEvent($event)"
        (clickOutside)="closeOpenedSidebar($event)"></app-invitations-incoming>
</div>