<ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated()">
    <li><app-notifications-popover></app-notifications-popover></li>

    <li>
        <a href="#" 
            [popover]="userPopover" 
            popoverTitle="My Profile" placement="bottom" [outsideClick]="true" container="body">
                {{getUser().UserName}}
        </a>
    </li>

    <li>
        <a (click)="logout()">Logout</a>
    </li>

    <ng-template #userPopover container="body">
        <h4 class="title">{{getUser().UserName}}</h4>
        <address>{{getUser().Email}}</address>

        <button type="button" class="btn btn-primary">Settings</button>
    </ng-template>
</ul>

<ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated()">
    <li>
        <a [routerLink]="['/auth/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/auth/register']">Register</a>
    </li>
</ul>