<ul class="nav navbar-nav navbar-right" *ngIf="IsAuthenticated()">
    <li>
        <a href="#" 
            [popover]="userPopover" 
            popoverTitle="My Profile" placement="bottom" [outsideClick]="true" container="body">
                {{GetUser().UserName}}
        </a>
    </li>

    <li>
        <a (click)="Logout()">Logout</a>
    </li>

    <ng-template #userPopover container="body">
        <h4 class="title">{{GetUser().UserName}}</h4>
        <address>{{GetUser().Email}}</address>

        <a [routerLink]="['settings']" type="button" class="btn btn-primary">Settings</a>
    </ng-template>
</ul>

<ul class="nav navbar-nav navbar-right" *ngIf="!IsAuthenticated()">
    <li>
        <a [routerLink]="['/auth/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/auth/register']">Register</a>
    </li>
</ul>