<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-right sidebar-animate"
        [class.sidebar-open]="isSidebarOpened">

    <h4>Events, you have been invited to join.</h4>

    <div class="nav navbar-stacked">
        <app-alert
            *ngIf="isError"
            [alertType]="'danger'"
            [innerText]="'It seems we have some problems. Try to reload the page.'"></app-alert>

        <div class="invitations-list" *ngIf="!isError && invitations.length > 0">
            <app-invitation-view 
                *ngFor="let i of invitations"
                [invitation]="i"
                (onAccepted)="acceptInvitation($event)"
                (onRejected)="rejectInvitation($event)"></app-invitation-view>            
        </div>

        <app-alert *ngIf="invitations.length == 0 && !isError"
            [alertType]="'danger'"
            [innerText]="'There are not any invitations.'"></app-alert>
    </div>
</div>