<div class="modal-dialog modal-lg" role="document" tabindex="-3">
    <form #editForm="ngForm" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit the event</h4>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="IsPrivateSwitch" name="IsPrivateSwitch" type="checkbox" 
                                    [(ngModel)]="model.IsPrivate" />
                    
                                <label for="IsPrivateSwitch">Private</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="IsAllDaySwitch" name="IsAllDaySwitch" type="checkbox" 
                                    [(ngModel)]="model.IsAllDay" />
                
                                <label for="IsAllDaySwitch">All Day</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="IsRecurring" name="IsRecurring" type="checkbox" 
                                    [(ngModel)]="model.IsRecurrent" />
                
                                <label for="IsRecurring">Recurring</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="IsLocation" name="IsLocation" type="checkbox" 
                                    [(ngModel)]="model.IsLocationAttached" />
                        
                                <label for="IsLocation">Location</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <app-alert-array [alertType]="'danger'" [errors]="errors"></app-alert-array>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Event</h4>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label" for="Name">Name</label>

                            <input type="text" class="form-control" id="Name" name="Name" 
                                required minlength="3" maxlength="32" placeholder="Enter name"
                                [(ngModel)]="model.Name" #name="ngModel" />

                            <span class="text-danger" *ngIf="!name.valid && name.touched">
                                The Name must be a string from 3 to 32 symbols.
                            </span>
                        </div>

                        <!-- Start, End -->
                        <div class="form-group" *ngIf="!model.IsRecurrent">
                            <label class="control-label" for="Dates">Start and End dates</label>

                            <input type="text" name="Dates" class="form-control" required
                                [(ngModel)]="startEndDate" #eventStartEndDate="ngModel"
                                bsDaterangepicker />

                            <span class="text-danger" *ngIf="!eventStartEndDate.valid && eventStartEndDate.touched">
                                The Start and End dates are required.
                            </span>
                        </div>

                        <!-- Timepickers -->
                        <div class="form-group col-md-offset-2" *ngIf="!model.IsAllDay">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <timepicker name="EventStartTime" 
                                            [showMeridian]="false" 
                                            [(ngModel)]="startTime" 
                                            #pickerStartTime="ngModel"></timepicker>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <timepicker name="EventEndTime" 
                                            [showMeridian]="false" 
                                            [(ngModel)]="endTime" 
                                            #pickerEndTime="ngModel"></timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            <label class="control-label" for="Description">Description</label>

                            <textarea class="form-control" id="Description" name="Description" maxlength="256" 
                                placeholder="Enter description no more than 256 symbols."
                                [(ngModel)]="model.Description" #description="ngModel"></textarea>

                            <span class="text-danger" *ngIf="!description.valid && description.touched">
                                The Name must be a string no more than 256 symbols.
                            </span>
                        </div>

                        <!-- Remind before -->
                        <div class="form-group">
                            <label class="control-label" for="RemindBefore">Remind Before</label>

                            <input type="number" name="RemindBefore" class="form-control" max="720" min="1"
                                [(ngModel)]="model.RemindBefore" #remindBefore="ngModel" />

                            <span class="text-danger" *ngIf="!remindBefore.valid && remindBefore.touched">
                                The Remind Before must be a number from 1 to 720.
                            </span>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <app-event-location 
                            *ngIf="model.IsLocationAttached" 
                            [location]="model.Location"></app-event-location>

                        <app-event-period
                            *ngIf="model.IsRecurrent"
                            [period]="model.Period"></app-event-period>
                            </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" 
                    (click)="editEvent(editForm)"
                    [disabled]="editForm.invalid">Save</button>

                <button type="button" class="btn btn-danger" 
                    (click)="close()">Cancel</button>
            </div>
        </div>
    </form>
</div>
