<div class="panel panel-info">
    <div class="panel-heading">{{invitation.Event.Name}} ({{invitation.Invitator.UserName}})</div>

    <div class="panel-body">
        <p *ngIf="invitation.Event.Description != null">{{invitation.Event.Description}}</p>

        <span *ngIf="invitation.Event.Period == null && invitation.Event.IsAllDay">
            <dt>Duration:</dt>
            <dd>{{invitation.Event.StartDate | dateLocal }} - {{invitation.Event.EndDate | dateLocal }} (All day(s))</dd>
        </span>

        <span *ngIf="invitation.Event.Period == null && !invitation.Event.IsAllDay">
            <dt>Duration:</dt>
            <dd>{{invitation.Event.StartDate | dateTimeLocal:invitation.Event.StartTime}} - {{invitation.Event.EndDate | dateTimeLocal:invitation.Event.EndTime}}</dd>
        </span>

        <span *ngIf="invitation.Event.Period != null && invitation.Event.IsAllDay">
            <dt>Duration:</dt>
            <dd>{{invitation.Event.Period.PeriodStart | dateLocal}} - {{invitation.Event.Period.PeriodEnd | dateLocal}} <i>(Recurring)</i></dd>
        </span>

        <span *ngIf="invitation.Event.Period != null && !invitation.Event.IsAllDay">
            <dt>Duration:</dt>
            <dd>
                <span>{{invitation.Event.Period.PeriodStart | dateLocal}} - {{invitation.Event.Period.PeriodEnd | dateLocal}}</span> 
                <span>at: </span>
                <span>{{invitation.Event.StartTime | timeLocal}} - {{invitation.Event.EndTime | timeLocal}} <i>(Recurring)</i></span>
            </dd>
        </span>
    </div>

    <div class="panel-footer">
        <button class="btn btn-primary" type="button"
            (click)="accept()">Accept</button>

        <button class="btn btn-default" type="button"
            (click)="reject()">Reject</button>
    </div>
</div>
