<h4>Location</h4>

<div class="form-group">
    <agm-map
        [longitude]="location.Longitude"
        [latitude]="location.Lattitude"
        [zoom]="8"
        (mapClick)="mapClicked($event)">
            <agm-marker 
                [longitude]="location.Longitude"
                [latitude]="location.Lattitude"
                [markerDraggable]="true"
                (dragEnd)="mapClicked($event)"></agm-marker>
            </agm-map>
</div>

<div class="form-group">
    <label class="control-label" for="LocationDescription">Location Description</label>

    <input type="text" class="form-control" id="LocationDescription" name="LocationDescription" maxlength="256" 
        placeholder="Enter description no more than 256 symbols."
        (change)="emitLocationChanged()"
        [(ngModel)]="location.Description" #locationDescription="ngModel" />

    <span class="text-danger" *ngIf="!locationDescription.valid && locationDescription.touched">
        The Name must be a string no more than 256 symbols.
    </span>
</div>
