<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2>Register</h2>
    <hr />

    <form #registerForm="ngForm" novalidate>
        <div class="form-group">
            <label class="control-label" for="UserName">User Name</label>

            <input type="text" class="form-control" id="UserName" name="UserName" 
                required minlength="4" maxlength="16"
                placeholder="Enter User Name"
                [(ngModel)]="registerModel.userName" #userName="ngModel" />
            
            <span class="text-danger" *ngIf="!userName.valid && !userName.untouched">
                The User Name must be from 4 to 16 symbols.
            </span>
        </div>

        <div class="form-group">
            <label class="control-label" for="Email">Email</label>
    
            <input type="email" class="form-control" id="Email" name="Email" 
                required email
                placeholder="Enter Email address"
                [(ngModel)]="registerModel.email" #email="ngModel" />
                
                <span class="text-danger" *ngIf="!email.valid && !email.untouched">
                    The Email is required.
                </span>
        </div>

        <div class="form-group">
            <label class="control-label" for="Password">Password</label>
    
            <input type="password" class="form-control" id="Password" name="Password" 
                required minlength="6" maxlength="64"
                placeholder="Enter Password"
                [(ngModel)]="registerModel.password" #password="ngModel" />
                
                <span class="text-danger" *ngIf="!password.valid && !password.untouched">
                    The Password must be from 6 to 64 symbols.
                </span>
        </div>

        <div class="form-group">
            <label class="control-label" for="ConfirmPassword">Confirm Password</label>
        
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" 
                required minlength="6" maxlength="64"
                placeholder="Confirm Password"
                [(ngModel)]="registerModel.confirmPassword" #confirmPassword="ngModel"
                validateEqualTo="password" />
                    
            <span class="text-danger" *ngIf="!confirmPassword.valid && !confirmPassword.untouched">
                The passwords must be equal.
            </span>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" 
                (click)="register(registerForm)" [disabled]="registerForm.invalid">
                    Register
            </button>
        </div>
    </form>

    <app-alert-array [alertType]="danger" [errors]="errors"></app-alert-array>
</div>